@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p><strong>Nome: </strong>@ViewData["Name"]</p>
<p><strong>Mais informações:</strong> @ViewData["Email"]</p>
<p>Use this area to provide additional information.</p>
